.body {
    background-color: black;
}
.quienes {
    background-color: black;
    color: white;
    
    
}

.destacados {

    background-color: black;
    color: white;
    
}
.contacto {
    background-color: black;
    color: white;
    padding: 80px;
}

.pie {
    background-color: black;   
}

.pie2 {
    background-color:aqua
}